.container {
  padding: 0 1em;
  max-width: 960px;
  margin: 0 auto;
}

.btn {
  color: var(--white);
  padding: .25em 1em;
  border: none;
  background-color: var(--primary);
  border-radius: .25em;

  &:hover {
    cursor: pointer;
  }

  &.btn-outline {
    border: .1em solid var(--primary);
    background-color: transparent;
    color: var(--primary);

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }

  &.btn-link {
    border: none;
    padding: .25em;
    background-color: transparent;
    color: var(--primary);

    &:hover {
      text-decoration: underline;
    }
  }

  &.btn-icon {
    border: none;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    color: inherit;

    &:hover {
      cursor: pointer;
      background-color: var(--black-transparent);
    }
  }
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag
}
